.carre-contenu {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
  margin-bottom: 80px;
}

.carre-contenu h2 {
  margin-top: 30px;
}

.carre-contenu ul {
  margin-top: 30px;
}

.carre-contenu + div {
  text-align: center;
}

.a-propos-main {
  width: 50%;
  margin: auto;
}
table {
  border-collapse: collapse;
  width: 100%;

  color: white;
}
th,
td {
  border: 1px solid violet;
  padding: 15px;
  text-align: center;
  white-space: nowrap;
}
caption {
  margin-bottom: 50px;
}
h1 {
  text-align: center;
}
